/* Reset CSS Styles */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Angular Styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

/* Spinner */
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    position: absolute;
    left: 50%;
    top: 35%;
    width: 25px;
    height: 25px;
    border: 6px solid #000;
    border-left-color: #333;
    border-bottom-color: #555;
    border-right-color: transparent;
    border-radius: 100%;
    animation: spin 600ms infinite linear;
    -webkit-animation: spin 600ms infinite linear;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 20px;
    background-color: #e2f0d9;
    margin: 0 0 100px;
}

h1 { font-size: 1.6em;}
h2 {font-size: 1.3em;}
h3 {font-size: 1em;}
h4 {font-size: 0.7em;}
h5 {font-size: 0.6em;}
h6 {font-size: 0.5em;}
a {text-decoration: none;}

img {
    width: 100%;
    height: 100%;
}

input, select {
    width: 95%;
    margin: 10px 0;
    padding: 8px;
    display: block;
}

/* Common Assets */
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.loading {
    pointer-events: none;
    opacity: 0.5;
}

.message {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    line-height: 50px;
    border-radius: 3px;
    border: #162990;
    color: #ffffff;
    background-color: #4f6ea9;
}

.active {
    background-color: #daa600;
    border: 1px solid #7f6000;
}
.button, a.button {
    width: auto;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    margin-top: 15px;
    background-color: #70ad47;
    border: 1px solid #67934b;
    border-radius: 7px;
}

/* Main Page Styles */
#wrap {
    display: block;
    min-height: 100%;
    margin-bottom: 20px;
}

.container {
    display: inline-block;
    width: 55%;
}

#header, #footer, .box, .pagination ul li {
    background-color: #a9d18e;
    box-shadow: 3px 3px 5px #abb6a4;
}

#header, .box header h2 {
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #507e32;
    text-align: center;
}

#footer {
    padding-top: 15px;
    border-top: 1px solid #507e32;
    text-align: center;
    clear: both;
    height: 50px;
    width: 100%;
}

/* Menu Boxes */
.menu {
    width: 20%;
}
.box {
    margin: 20px;
    padding: 30px;
    border: 1px solid #507e32;
}

.box > nav > ul li a {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    color: #000000;
}

.box > nav > ul li a:hover, .button:hover {
    border: 1px solid #7f6000;
    cursor: pointer;
}

.box.big {
    width: 200%;
}

.pagination {
    text-align: center;
}

.pagination ul li {
    display: inline-block;
    margin: 3px;
    padding: 9px;
    cursor: pointer;
    border: 1px solid #507e32;
}

.pagination ul li:hover, .pagination ul li.active {
    color: #ffffff;
    background-color: #548235;
}

/* Advertising Box */
.ad {
    min-width: 100%;
    display: inline-block;
}
.ad header time {
    font-style: italic;
}

.ad header h2 {
    text-align: left;
}

.ad span {
    width: 85%;
    float: right;
    padding: 10px;
    margin: 5px;
    background-color: #c5e0b4;
    display: inline-block;
    border: 1px solid #649b3f;
}

.ad figure, .image-box {
    clear: both;
    display: inline-block;
    width: 150px;
    min-height: 170px;
    padding: 10px;
    background-color: #e2f0d9;
    border: 1px solid #649b3f;
}

.ad-info {
    width: 75%;
    float: right;
}

.ad-info > div {
    display: inline-block;
    width: 100%;
}

/* Form Box */
.form {
    border-radius: 10px;
}

.form input[type=submit] {
    display: inline-block;
    color: #ffffff;
}

.form a {
    float: right;
    margin-top: 20px;
}

/* Login / Register Box */
 .form div {
    width: 47%;
    margin-right: 15px;
    display: inline-block;
}

/* Publish Ad Box */

/* User Ads Box */
.user-ads {
    width: 130%;
}

.user-ads figure {
    float: left;
}

.user-ads .ad-info {
    width: 60%;
    padding-left: 20px;
    float: none;
    display: inline-block;
}
.user-ads .status {
    text-align: center;
    padding-left: 20px;
    width: 200px;
    float: right;
    border-left: 1px solid #507e32;
}

.user-ads .button {
    width: 140px;
}

/* Profile Box */
.profile {
    margin: 30px;
    display: inline-block;
    width: 35%;
}