<section ng-repeat="ad in catalog.ads" class="box user-ads">
    <article class="ad">
        <header>
            <time datetime="{{ ad.date | date : 'd-MMM-yyyy' }}">{{ ad.date | date : 'd-MMM-yyyy' }}</time>
            <h2>{{ ad.title }}</h2>
        </header>

        <figure>
            <img ng-src="{{ ad.imageDataUrl }}" alt="No Image" class="pull-left"/>
        </figure>

        <div class="ad-info">
            <span>{{ ad.text }}</span>

            <div>Category: <span>{{ ad.categoryName }}</span></div>
            <div>Town: <span>{{ ad.townName }}</span></div>
        </div>

        <section class="status">
            <p>Status:</p>
            <span>{{ ad.status }}</span>
            <a href="" class="button" ng-click="changeAdStatus(ad.id, false)"
               ng-hide="ad.status == 'Inactive'">Deactivate</a>

            <div ng-show="ad.status == 'Inactive'">
                <a ng-href="#/user/ads/edit" class="button" ng-click="adClicked(ad.id, 'Edit')">Edit</a>
                <a href="" class="button" ng-click="changeAdStatus(ad.id, true)">Publish Again</a>
                <a ng-href="#/user/ads/delete" class="button" ng-click="adClicked(ad.id, 'Delete')">Delete</a>
            </div>
        </section>
    </article>
</section>

<nav class="pagination" ng-include="'../app/views/partials/pagination.html'"></nav>