<section class="box" ng-hide="account.isAuthenticated()">
    <header>
        <p>To publish new ad, please login.</p>
    </header>
    <nav>
        <ul>
            <li><a href="#/login" class="button">Login</a></li>
            <li><a href="#/register" class="button">Register</a></li>
        </ul>
    </nav>
</section>

<section class="box">
    <header>
        <h2>Navigation</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a href="#/home" ng-class="{active: pageTitle == 'Home'}">Home</a>
            </li>
            <li ng-show="account.isAuthenticated()">
                <a href="#/user/ads" ng-class="{active: pageTitle == 'My Ads'}">My Ads</a></li>
            <li ng-show="account.isAuthenticated()">
                <a href="#/user/ads/publish" ng-class="{active: pageTitle == 'Publish New Ad'}">Publish New Ad</a>
            </li>
            <li ng-show="account.isAuthenticated()">
                <a href="#/user/profile" ng-class="{active: pageTitle == 'Edit User Profile'}">Edit Profile</a>
            </li>
        </ul>
    </nav>
</section>

<section class="box" ng-show="account.isAuthenticated() && pageTitle == 'My Ads'">
    <header>
        <h2>My Ads</h2>
    </header>
    <nav>
        <ul>
            <li ng-class="{'active': selectedStatus == value}"
                ng-repeat="(key, value) in adsStates"
                ng-click="statusClicked(value)">
                <a href="">{{ key }}</a>
            </li>
        </ul>
    </nav>
</section>