<section class="box" ng-hide="auth.isAuthenticated()">
    <header>
        <p>To publish new ad, please login.</p>
    </header>
    <nav>
        <ul>
            <li><a href="#/login" class="button">Login</a></li>
            <li><a href="#/register" class="button">Register</a></li>
        </ul>
    </nav>
</section>

<section class="box">
    <header>
        <h2>Navigation</h2>
    </header>
    <nav>
        <ul>
            <li><a href="#/home" ng-class="getActiveMenu('/home')">Home</a></li>
            <li ng-show="auth.isAuthenticated()"><a href="#/my-ads" ng-class="getActiveMenu('/my-ads')">My Ads</a></li>
            <li ng-show="auth.isAuthenticated()"><a href="#/create-ad" ng-class="getActiveMenu('/create-ad')">Publish
                New Ad</a>
            </li>
            <li ng-show="auth.isAuthenticated()"><a href="#/edit-profile" ng-class="getActiveMenu('/edit-profile')">Edit
                Profile</a>
            </li>
        </ul>
    </nav>
</section>

<section class="box" ng-show="auth.isAuthenticated() && pageTitle == 'My Ads'">
    <header>
        <h2>My Ads</h2>
    </header>
    <nav>
        <ul>
            <li ng-class="{'active': selectedStatus == value}"
                ng-repeat="(key, value) in adsStates"
                ng-click="statusClicked(value)">
                <a href="">{{ key }}</a>
            </li>
        </ul>
    </nav>
</section>