<section class="box" ng-hide="account.isAuthenticated()">
    <header>
        <p>To publish new ad, please login.</p>
    </header>
    <nav>
        <ul>
            <li><a ng-href="#/login" class="button">Login</a></li>
            <li><a ng-href="#/register" class="button">Register</a></li>
        </ul>
    </nav>
</section>

<section class="box" ng-show="account.isAdmin()">
    <header>
        <h2>Admin Navigation</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a ng-href="#/admin" ng-class="{active: pageTitle == 'Ads'}">Ads</a>
            </li>
            <li>
                <a ng-href="#/admin/users/list" ng-class="{active: pageTitle == 'Users'}">Users</a></li>
            <li>
                <a ng-href="#/admin/categories/list" ng-class="{active: pageTitle == 'Categories'}">Categories</a>
            </li>
            <li>
                <a ng-href="#/admin/towns/list" ng-class="{active: pageTitle == 'Towns'}">Towns</a>
            </li>
        </ul>
    </nav>
</section>

<section class="box" ng-hide="account.isAdmin()">
    <header>
        <h2>Navigation</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a ng-href="#/" ng-class="{active: pageTitle == 'Home'}">Home</a>
            </li>
            <li ng-show="account.isAuthenticated()">
                <a ng-href="#/user/ads" ng-class="{active: pageTitle == 'My Ads'}">My Ads</a></li>
            <li ng-show="account.isAuthenticated()">
                <a ng-href="#/user/ads/publish" ng-class="{active: pageTitle == 'Publish New Ad'}">Publish New Ad</a>
            </li>
            <li ng-show="account.isAuthenticated()">
                <a ng-href="#/user/profile" ng-class="{active: pageTitle == 'Edit User Profile'}">Edit Profile</a>
            </li>
        </ul>
    </nav>
</section>

<section class="box" ng-show="(account.isAuthenticated() && pageTitle == 'My Ads') ||
                               account.isAdmin() && pageTitle == 'Ads'">
    <header>
        <h2>Status</h2>
    </header>
    <nav>
        <ul>
            <li ng-class="{'active': selectedStatus == value}"
                ng-repeat="(key, value) in adsStates"
                ng-click="statusClicked(value)">
                <a href="">{{ key }}</a>
            </li>
        </ul>
    </nav>
</section>