<fieldset ng-controller="SidebarController">
    <label for="category">Category:</label>
    <select id="category" ng-model="ad.categoryId">
        <option value="null">(None)</option>
        <option value="{{ category.id }}"
                ng-repeat="category in categories"
                ng-selected="ad.categoryId == category.id">
            {{ category.name }}
        </option>
    </select>

    <label for="town">Town:</label>
    <select id="town" ng-model="ad.townId">
        <option value="null">(None)</option>
        <option value="{{ town.id }}"
                ng-repeat="town in towns"
                ng-selected="ad.townId == town.id">
            {{ town.name }}
        </option>
    </select>
</fieldset>

<fieldset ng-show="account.isAdmin()">
    <label for="date">Data:</label>
    <input type="date" id="date" value=""/>

    <label for="status">Status:</label>
    <select id="status" ng-model="ad.status">
        <option value="Published" ng-selected="ad.status == 'Published'">
            Published
        </option>
        <option value="WaitingApproval" ng-selected="ad.status == 'WaitingApproval'">
            Waiting Approval
        </option>
        <option value="Rejected" ng-selected="ad.status == 'Rejected'">
            Rejected
        </option>
        <option value="Inactive" ng-selected="ad.status == 'Inactive'">
            Inactive
        </option>
    </select>
</fieldset>