<section class="box edit form">
    <header>
        <h2>Edit Ad</h2>
    </header>

    <form name="editAdForm">

        <div class="pull-right">
            <figure class="image-box">
                <img ng-src="{{ ad.imageDataUrl }}" alt="{{ ad.title }}"/>
            </figure>

            <input type="file" id="image" class="button" value="{{ ad.imageDataUrl }}" fileread="ad.imageDataUrl"/>
            <input type="button" class="button" value="Delete Image" ng-click="ad.imageDataUrl = null"/>
        </div>

        <div class="pull-left">
            <label for="title">Title:</label>
            <input type="text" id="title" value="{{ ad.title }}" placeholder="Title" required="required"
                   ng-model="ad.title"/>

            <label for="text">Text:</label>
            <textarea id="text" rows="5" cols="55" placeholder="Description of your ad" required="required"
                      ng-model="ad.text">{{ ad.text }}
            </textarea>

            <div ng-show="account.isAdmin()">
                <label for="username">Username: </label>
                <input type="text" id="username" value="{{ ad.ownerUsername }}" ng-model="ad.ownerUsername"/>
            </div>

            <div ng-include="'../app/views/partials/selectOptions.html'"></div>
        </div>

        <div class="buttons">
            <input type="button" class="button" value="Edit" ng-click="editAd(ad)"/>
            <a ng-href="{{ account.isAdmin() ? '#/admin' : '#/user/ads' }}" class="button pull-right">Cancel</a>
        </div>
    </form>
</section>