<section class="box ad">
    <header>
        <h2>Confirm Deleting Ad?</h2>
    </header>

    <section>
        <header>
            <time datetime="2008-02-14 20:00">3-Jan-2015</time>
            <h3>Title</h3>
        </header>

        <figure>
            <img src="http://placehold.it/130x160" alt="iPhone" class="pull-left"/>
        </figure>

        <span>I have iPhone 4S 16GB for sale. Good price. Like a new. Please call me in the evenings or at weekends.</span>

        <p>Category: <span>Victor</span></p>

        <p>Town: <span>igra4a@abv.bg</span></p>

        <input type="button" class="button" value="Delete" ng-click="deleteAd(ad.id)"/>
        <a href="#/my-ads" class="button pull-right">Cancel</a>
    </section>

</section>