<section ng-repeat="ad in userCatalog.ads" class="box">
    <article class="my ad">
        <header>
            <time datetime="{{ ad.date | date : 'd-MMM-yyyy' }}">{{ ad.date | date : 'd-MMM-yyyy' }}</time>
            <h2>{{ ad.title }}</h2>
        </header>

        <figure class="image">
            <img src="{{ ad.imageDataUrl }}" alt="No Image" class="pull-left"/>
        </figure>

        <span>{{ ad.text }}</span>

        <p>Category: <span>{{ ad.categoryName }}</span></p>

        <p>Town: <span>{{ ad.townName }}</span></p>

    </article>

    <section class="status">
        <p>Status:</p>
        <span>{{ ad.status }}</span>
        <a href="" class="button" ng-click="changeAdStatus(ad.id, false)" ng-hide="ad.status == 'Inactive'">Deactivate</a>

        <div ng-show="ad.status == 'Inactive'">
            <a href="#/edit-ad" class="button">Edit</a>
            <a href="" class="button" ng-click="changeAdStatus(ad.id, true)">Publish Again</a>
            <a href="#/delete-ad" class="button">Delete</a>
        </div>
    </section>
</section>