<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categories.categories">
        <td>{{ category.username }}</td>
        <td>
            <a ng-href="#/admin/categories/edit/{{ category.id }}">Edit</a>
            <a ng-href="#/admin/categories/delete/{{ category.id }}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a ng-href="#/admin/categories/create" class="button">Create New Category</a>