<section class="ad box" ng-repeat="ad in catalog.ads">
    <header>
        <time datetime="{{ ad.date | date : dateFormat }}">{{ ad.date | date : dateFormat }}</time>
        <h2>{{ ad.title }}</h2>
    </header>
    <figure>
        <img ng-src="{{ ad.imageDataUrl }}" alt="No Image" class="pull-left"/>
    </figure>

    <div class="ad-info">
        <span>{{ ad.text }}</span>

        <div>Name: <span>{{ ad.ownerName }}</span></div>
        <div>Email: <span>{{ ad.ownerEmail }}</span></div>
        <div>Tel. <span>{{ ad.ownerPhone }}</span></div>
    </div>
</section>

<nav class="pagination" ng-include="'../app/views/partials/pagination.html'"></nav>