<section ng-repeat="ad in catalog">
    <article class="box ad">
        <header>
            <time datetime="2008-02-14 20:00">3-Jan-2015</time>
            <h2>{{ ad.title }}</h2>
        </header>
        <img src="{{ ad.imageDataUrl }}" alt="No Image" class="pull-left"/>

        <section class="ad-desc">
            <span>{{ ad.text }}</span>

            <p>Name: <span>{{ ad.ownerName }}</span></p>

            <p>Email: <span>{{ ad.ownerEmail }}</span></p>

            <p>Tel. <span>{{ ad.ownerPhone }}</span></p>
        </section>
    </article>
</section>