<section class="box form">
    <header>
        <h2>{{ pageTitle }}</h2>
    </header>

    <form name="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Username" required="required" ng-model="user.username"/>

        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" required="required" ng-model="user.password"/>

        <input type="submit" class="button" value="Login" ng-click="login(user, loginForm)"/>
        <a href="#/register"><abbr title="Register">Register here</abbr></a>
    </form>
</section>