<section class="box register form">
    <header>
        <h2>User Registration</h2>
    </header>

    <form action="">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Username" required="required"/>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Password" required="required"/>
        </div>
        <div>
            <label for="password-rep">Confirm password:</label>
            <input type="password" id="password-rep" placeholder="Confirm password" required="required"/>
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Name"/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="user@example.com" required="required"/>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" placeholder="Phone"/>
        </div>
        <div>
            <label for="town">Town:</label>
            <select name="" id="town">
                <option value="select">Select</option>
            </select>
        </div>
        <input type="submit" class="button" value="Register" ng-click="register()"/>
        <a href="#/login"><abbr title="Login">Login here</abbr></a>
    </form>
</section>